
TP2-InsaustiAlejandro-BD-TM/Logs/AssetImportWorker0-prev.log
TP2-InsaustiAlejandro-BD-TM/Logs/AssetImportWorker0.log
TP2-InsaustiAlejandro-BD-TM/Logs/AssetImportWorker1.log
TP2-InsaustiAlejandro-BD-TM/Logs/shadercompiler-AssetImportWorker0.log
TP2-InsaustiAlejandro-BD-TM/Logs/shadercompiler-UnityShaderCompiler.exe0.log
TP2-InsaustiAlejandro-BD-TM/Logs/shadercompiler-UnityShaderCompiler.exe1.log
TP2-InsaustiAlejandro-BD-TM/Logs/shadercompiler-UnityShaderCompiler.exe2.log
TP2-InsaustiAlejandro-BD-TM/Logs/shadercompiler-UnityShaderCompiler.exe3.log
TP2-InsaustiAlejandro-BD-TM/Logs/AssetImportWorker0.log
TP2-InsaustiAlejandro-BD-TM/Logs/shadercompiler-AssetImportWorker0.log
TP2-InsaustiAlejandro-BD-TM/Logs/shadercompiler-UnityShaderCompiler.exe0.log
TP2-InsaustiAlejandro-BD-TM/Logs/shadercompiler-UnityShaderCompiler.exe1.log
TP2-InsaustiAlejandro-BD-TM/Logs/shadercompiler-UnityShaderCompiler.exe2.log
